# Database Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/eterna_orders

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Server Configuration
PORT=3000
NODE_ENV=development

# Solana Configuration
SOLANA_RPC_URL="https://devnet.helius-rpc.com/?api-key="
PRIVATE_KEY=""
